#! /usr/bin/env python

PACKAGE='pkg_uav_control'
import roslib
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
# Name Type Reconfiguration level Description Default Min Max
gen.add("uav_name", str_t, 0, "The message.", "hello")
gen.add("front", int_t, 0, "First number.", 1, -100, 100)
gen.add("left", int_t, 0, "First number.", 2, -100, 100)
gen.add("right", int_t, 0, "First number.", 2, -100, 100)
gen.add("bottom", int_t, 0, "First number.", 2, -100, 100)


exit(gen.generate(PACKAGE, "pkg_uav_control", "collision_message"))
